@import url('./slider-panel__panel.scss');
@import url('./slider-panel_margin-top_10per.scss');

.slider-panel {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    width: 70%;
    height: 90%;
}