include blocks/slider-panel/slider-panel.pug

doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        title Slider
    body
        .demo-page
            h1.demo-page__title Demonstration page of jquery-ngSlider-plugin
            .demo-page__sliders
                .demo-page__column
                    +slider-panel('slider-1', {'max': 'max1', 'min': 'min1', 'range': 'range1', 'step': 'step1', 'firstValue': 'first-value1', 'secondValue': 'second-value1', 'verticalButton': 'vertical-button1', 'currentValueVisibleButton': 'current-value-visible-button1'})
                    +slider-panel('slider-2', {'max': 'max2', 'min': 'min2', 'range': 'range2', 'step': 'step2', 'firstValue': 'first-value2', 'secondValue': 'second-value2', 'verticalButton': 'vertical-button2', 'currentValueVisibleButton': 'current-value-visible-button2'}, 'slider-panel_margin-top_10per')
                .demo-page__column
                    +slider-panel('slider-3', {'max': 'max3', 'min': 'min3', 'range': 'range3', 'step': 'step3', 'firstValue': 'first-value3', 'secondValue': 'second-value3', 'verticalButton': 'vertical-button3', 'currentValueVisibleButton': 'current-value-visible-button3'})
                    +slider-panel('slider-4', {'max': 'max4', 'min': 'min4', 'range': 'range4', 'step': 'step4', 'firstValue': 'first-value4', 'secondValue': 'second-value4', 'verticalButton': 'vertical-button4', 'currentValueVisibleButton': 'current-value-visible-button4'}, 'slider-panel_margin-top_10per')
