@import url('./config__button.scss');
@import url('./config__error.scss');
@import url('./config__input.scss');
@import url('./config__item.scss');
@import url('./config__text.scss');

.config {
    width: 100%;
    display: flex;
    flex-direction: column;
}