.config__error {
    font-size: 12px;
    background-color: red;
    height: 200%;
    color: white;
    border-radius: 15%;
    border-top-left-radius: 0;
    position: absolute;
    left: 60%;
    text-align: center;
}