doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        title Slider
    body
        .container
            .slider-wrapper 
                .ng-slider
                    .ng-slider__slider-wrapper
                        input.ng-slider__slider(type="range" id="ng-slider")